{
    "timeout": 20,
    "source": {
        "directories": [
            "src"
        ],
        "exclude": [
            "Bundle\/*\/Tests",
            "Component\/*\/Tests",
            "Ecc\/*\/Tests",
            "EncryptionAlgorithm\/ContentEncryption\/*\/Tests",
            "EncryptionAlgorithm\/KeyEncryption\/*\/Tests",
            "EncryptionAlgorithm\/Experimental\/*\/Tests",
            "Signaturelgorithm\/ECDSA\/*\/Tests",
            "Signaturelgorithm\/EdDSA\/*\/Tests",
            "Signaturelgorithm\/HMAC\/*\/Tests",
            "Signaturelgorithm\/None\/*\/Tests",
            "Signaturelgorithm\/RSA\/*\/Tests",
            "Signaturelgorithm\/Experimental\/*\/Tests"
        ]
    },
    "logs": {
        "text": "infection-log.txt"
    }
}
