{
    "timeout": 20,
    "source": {
        "directories": [
            "src"
        ],
        "exclude": [
            "Bundle\/*\/Tests",
            "Component\/*\/Tests"
        ]
    },
    "logs": {
        "text": "infection-log.txt"
    }
}
