<div class="tab">
    <h2 class="tab-title">JWE</h2>
    <div class="tab-content">
        {% include '@JoseFramework/data_collector/tab/jwe/builders.html.twig' %}
        {% include '@JoseFramework/data_collector/tab/jwe/decrypters.html.twig' %}
        {% include '@JoseFramework/data_collector/tab/jwe/loaders.html.twig' %}
        {% include '@JoseFramework/data_collector/tab/jwe/key_encryption_algorithms.html.twig' %}
        {% include '@JoseFramework/data_collector/tab/jwe/content_encryption_algorithms.html.twig' %}
        {% include '@JoseFramework/data_collector/tab/jwe/compression_methods.html.twig' %}
        {% include '@JoseFramework/data_collector/tab/jwe/serialization_modes.html.twig' %}
    </div>
</div>
