<div class="tab">
    <h2 class="tab-title">Claim Checkers</h2>
    <div class="tab-content">
        {% include '@JoseFramework/data_collector/tab/claim_checker/managers.html.twig' %}
        {% include '@JoseFramework/data_collector/tab/claim_checker/checkers.html.twig' %}
    </div>
</div>
