<div class="tab">
    <h2 class="tab-title">JWS</h2>
    <div class="tab-content">
        {% include '@JoseFramework/data_collector/tab/jws/builders.html.twig' %}
        {% include '@JoseFramework/data_collector/tab/jws/verifiers.html.twig' %}
        {% include '@JoseFramework/data_collector/tab/jws/loaders.html.twig' %}
        {% include '@JoseFramework/data_collector/tab/jws/signature_algorithms.html.twig' %}
        {% include '@JoseFramework/data_collector/tab/jws/mac_algorithms.html.twig' %}
        {% include '@JoseFramework/data_collector/tab/jws/serialization_modes.html.twig' %}
    </div>
</div>
