<h3>Serialization Modes</h3>
<p class="help">
    The serialization modes are used to convert a JWE object into a JSON object.<br>
    The JWE Compact serialization mode is the most common as it allows tokens to be used in a web context.
</p>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Alias</th>
    </tr>
    </thead>
    <tbody>
    {% if not collector.getData().jwe.jwe_serialization is empty %}
        {% for alias, name in collector.getData().jwe.jwe_serialization %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ alias }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="2">There is no compression method.</td>
        </tr>
    {% endif %}
    </tbody>
</table>
