<h3>Available Signature Algorithms</h3>
<p class="help">
    The following table lists all signature algorithms available in this environment.
</p>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Alias</th>
        <th>Message</th>
    </tr>
    </thead>
    <tbody>
    {% set signatureAlgorithms = collector.getData().algorithm.algorithms %}
    {% if signatureAlgorithms['Signature'] is defined %}
        {% for alias, alg in signatureAlgorithms['Signature'] %}
            <tr class="{% if alg.name in collector.getData().algorithm.messages|keys %}{{ collector.getData().algorithm.messages[alg.name]['severity']|raw }}{% else %}no-severity{% endif %}">
                <td>{{ alg.name }}</td>
                <td>{{ alias }}</td>
                <td>
                    {% if alg.name in collector.getData().algorithm.messages|keys %}
                        {{ collector.getData().algorithm.messages[alg.name]['message']|raw }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="3">There is no signature algorithm. Did you installed a package providing signature algorithms?</td>
        </tr>
    {% endif %}
    </tbody>
</table>
